.item {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: .75rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 16px 0;
}

.date {
    background-color: #f5f5f5;
    padding: 0 0.2941176471em;
    border-radius: 0.1rem;
    font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
    font-size: 0.7rem;
}

.item a {
    color: #4051b5;
    text-decoration: none;
    margin-left: 1em;
}

.item a:hover {
    color: #00109b;
}