.header {
    position: fixed;
    /* box-shadow: 0 0 0.2rem #0000, 0 0.2rem 0.4rem #0000; */
    display: block;
    left: 0;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 20;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid transparent;
    border-bottom-color: #e2e2e3;
    background-color: #ffffff
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: calc(var(--nav-width) + var(--gap) * 2);*/
    max-width: 50rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.headerTitle {
    font-size: .8rem;
    font-weight: 700;
}

.headerTitle a {
    color: #707070 !important;
}

#menu {
    display: flex;
    margin: auto 0;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    display: block;
    font-size: .8rem;
    color: #707070;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}