@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Noto Sans SC", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #353535;
}

